[submodule "unity"]
	path = unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "test/unity"]
	path = test/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "tests/unity"]
	path = tests/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
